.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Arial', sans-serif; /* Or any modern sans-serif font */
  margin-top: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1); 
}

.custom-table thead th {
  background-color: #e9ecef; 
  color: #495057; 
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #dee2e6; 
}

.custom-table tbody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6; 
  vertical-align: middle;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f8f9fa; 
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1; 
}


.custom-table tfoot tr {
  background-color: #6f8498;
  font-weight: bold;
}


.chart-container {
  height: 400px; 
}

.custom-table tfoot td {
  padding: 10px;
  border-bottom: none;
}
